@import "../../scss/global";

.sign-in-page__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 1700px;
  width: calc(100vw - 150px);
  height: calc(100vh - 130px);
  display: flex;
  border-radius: 15px;
  background: transparent;
  overflow: hidden;
  @include media("xxxl") {
    width: calc(100vw - 110px);
    height: calc(100vh - 90px);
  }

  @include media("xl") {
  }
  @include media("lg") {
  }
  @include media("lg") {
  }
  @include media("sm") {
    width: calc(100vw - 20px);
    height: calc(100vh - 16px);
  }
}

.sign-in-hero {
  &__container {
    width: 45%;
    background: $primary-color;
    color: $text-color;
    border-radius: 30px 0 0 30px;
    padding: 70px 50px 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    @include media("xxxl") {
      padding: 40px 45px 25px;
    }
  }
  &__circle {
    position: absolute;
    content: "";
    right: -70px;
    top: 40%;
    transform: translateY(-50%);
    width: 620px;
    height: 830px;
    z-index: 1;
  }
  &__small-circle-bg {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
  }
  &__phone-bg {
    position: absolute;
    content: "";
    z-index: 2;
    right: -200px;
    bottom: -30px;
    width: auto;
    height: 660px;
    @include media("xxxl") {
      height: 520px;
      bottom: -5px;
      right: -130px;
    }
  }
  &__heading {
    color: $text-color;
    font-family: "Switzer", sans-serif;
    font-size: 3.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin-top: 120px;
    max-width: 500px;
    z-index: 2;
    @include media("xxxl") {
      font-size: 3rem;
      margin-top: 80px;
    }
    @include media("xl") {
    }
    @include media("lg") {
    }
    @include media("lg") {
    }
  }
  &__text {
    margin-top: 2.375rem;
    color: $text-color;
    font-family: "Switzer", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    z-index: 2;
    @include media("xxxl") {
      margin-top: 1.8rem;
      font-size: 1.15rem;
      line-height: 160%;
    }
    @include media("xl") {
    }
    @include media("lg") {
    }
    @include media("lg") {
    }
  }
  &__slides {
    margin-top: auto;
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(22px);
    padding: 30px 54px;
    z-index: 6;
    position: relative;
    width: 120%;
  }
  &__slide {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    display: none;
    &.active {
      opacity: 1;
      visibility: visible;
      display: block;
    }
    &-author {
      color: $text-color;
      font-weight: 600;
      margin-left: 12px;
      font-size: 0.9rem;
    }
    &-text {
      font-family: "Switzer", sans-serif;
      font-weight: 300;
      line-height: 180%;
      color: $text-color;
      font-size: 1rem;
    }
  }
  &__img-container {
    border-radius: 15px;
    overflow: hidden;
  }
  &__person {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  &__pagination {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    position: absolute;
    right: 30px;
    bottom: 30px;
  }

  @include media("xxxl") {
    &__slides {
      padding: 20px 35px;
    }
    &__text {
      padding-right: 150px;
    }
    &__circle {
      right: -140px;
      width: 620px;
      height: 800px;
    }
  }
}

.dot {
  cursor: pointer;
  margin-right: 3px;
  transition: all 0.25s ease-out;
  padding: 7px;
  position: relative;
  z-index: 10;
  &::after {
    border-radius: 50%;
    content: "";
    background-color: #d9d9d960;
    // opacity: 0.30000001192092896;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:last-of-type {
    margin-right: 0;
  }
  &.active {
    &::after {
      background-color: #d9d9d9;
      transition: all 0.25s ease-out;
    }
  }
}
