@import "../../scss/global";

.sign-in-page__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 1700px;
  width: calc(100vw - 150px);
  height: calc(100vh - 130px);
  display: flex;
  border-radius: 15px;
  background: transparent;
  overflow: hidden;
  @include media("xxxl") {
    width: calc(100vw - 110px);
    height: calc(100vh - 90px);
  }
  @include media("xxl") {
    width: calc(100vw - 100px);
    height: calc(100vh - 80px);
  }
  @include media("xl") {
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
  }
  @include media("lg") {
    flex-direction: column;
    width: calc(100vw - 80px);
    height: calc(100vh - 60px);
  }

  @include media("sm") {
    width: calc(100vw - 20px);
    height: calc(100vh - 16px);
  }
}

.sign-in-hero {
  &__container {
    width: 45%;
    background: $primary-color;
    color: $text-color;
    border-radius: 30px 0 0 30px;
    padding: 70px 50px 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    @include media("xxxl") {
      padding: 70px 45px 50px;
    }
    @media only screen and (min-width: 1401px) and (max-width: 1550px) {
      padding: 40px 45px 25px;
    }
    @include media("xxl") {
      padding: 50px 45px 40px;
    }
    @include media("xl") {
      padding: 30px 25px 30px;
    }
    @include media("lg") {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      // padding: 50px 45px 50px;
    }
  }
  &__circle {
    position: absolute;
    content: "";
    right: -260px;
    top: 40%;
    transform: translateY(-50%);
    width: 920px;
    height: 940px;
    z-index: 1;
    @media screen and (max-width: 1900px) {
      width: 850px;
      height: 760px;
    }
  }
  &__small-circle-bg {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
  }
  &__phone-bg {
    position: absolute;
    content: "";
    z-index: 2;
    width: auto;
    right: -270px;
    bottom: -5px;
    height: 840px;
    @media screen and (max-width: 1900px) {
      right: -250px;
      bottom: -10px;
      height: 780px;
    }
    @include media("xxxl") {
      height: 710px;
      bottom: -10px;
      right: -220px;
    }
    @include media("xxl") {
      height: 560px;
      right: -140px;
    }
    @media only screen and (min-width: 1201px) and (max-width: 1325px) {
      height: 480px;
      right: -115px;
    }
    @include media("xl") {
      height: 470px;
      right: -110px;
    }
    @include media("lg") {
      width: calc(307px * 1.2);
      height: calc(370px * 1.2);
      right: 50%;
      bottom:160px;
      transform: translateX(42%);
    }
  }
  &__heading {
    color: $text-color;
    font-family: "Switzer", sans-serif;
    font-size: 3.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin-top: 120px;
    max-width: 500px;
    z-index: 2;
    @include media("xxxl") {
      font-size: 3rem;
      margin-top: 80px;
    }
    @media only screen and (min-width: 1401px) and (max-width: 1550px) {
      padding-right: 130px;
    }
    @include media("xxl") {
      font-size: 2.7rem;
      padding-right: 110px;
    }
    @include media("xl") {
      font-size: 2.1rem;
      padding-right: 85px;
      margin-top: 65px;
    }
    @include media("lg") {
    }
    @include media("lg") {
    }
  }
  &__text {
    margin-top: 2.375rem;
    color: $text-color;
    font-family: "Switzer", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    z-index: 2;
    padding-right: 190px;
    @media only screen and (max-width: 1900px) {
      padding-right: 140px;
    }
    @include media("xxxl") {
      margin-top: 1.8rem;
      font-size: 1.15rem;
      line-height: 160%;
    }
    @media only screen and (min-width: 1401px) and (max-width: 1550px) {
      margin-top: 2.5rem;
      font-size: 1.2rem;
      line-height: 165%;
    }
    @include media("xxl") {
      font-size: 1.15rem;
    }
    @include media("xl") {
    }
    @include media("lg") {
    }
    @include media("lg") {
    }
  }
  &__slides {
    margin-top: auto;
    border-radius: 26px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(22px);
    padding: 30px 54px;
    z-index: 6;
    position: relative;
    width: 120%;
  }
  &__slide {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    display: none;
    &.active {
      opacity: 1;
      visibility: visible;
      display: block;
    }
    &-author {
      color: $text-color;
      font-weight: 600;
      margin-left: 12px;
      font-size: 0.9rem;
    }
    &-text {
      font-family: "Switzer", sans-serif;
      font-weight: 300;
      line-height: 180%;
      color: $text-color;
      font-size: 1rem;
    }
  }
  &__img-container {
    border-radius: 15px;
    overflow: hidden;
  }
  &__person {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  &__pagination {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    position: absolute;
    right: 30px;
    bottom: 30px;
  }

  @include media("xxxl") {
    &__slides {
      padding: 20px 35px;
    }
    &__text {
      padding-right: 150px;
    }
    &__circle {
      width: 760px;
      right: -200px;
      height: 810px;
    }
  }
  @media only screen and (min-width: 1401px) and (max-width: 1550px) {
    &__circle {
      right: -120px;
      width: 670px;
      height: 750px;
      top: 45%;
    }
    &__phone-bg {
      height: 560px;
      right: -165px;
    }
  }
  @include media("xxl") {
    &__circle {
      width: 650px;
      height: 730px;
      right: -140px;
    }
  }
  @media only screen and (min-width: 1201px) and (max-width: 1325px) {
    &__heading {
      font-size: 2.4rem;
      padding-right: 100px;
    }
    &__circle {
      width: 600px;
      height: 700px;
      right: -110px;
    }
    &__text {
      font-size: 1rem;
    }
  }
  @include media("xl") {
    &__circle {
      width: 505px;
      height: 660px;
      right: -100px;
    }
    &__text {
      font-size: 1rem;
      padding-right: 110px;
    }
  }
  @include media("lg") {
    &__logo {
      margin-left: auto;
      margin-right: auto;
      width: 215px;
      height: auto;
      margin-top: 20px;
    }
    &__heading {
      font-size: 2.25rem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding-right: 0;
      max-width: 320px;
      margin-top: 55px;
    }
    &__text {
      padding-right: 0;
      text-align: center;
      font-size: 1.3rem;
      max-width: 600px;
      margin-top: 35px;
      margin-left: auto;
      margin-right: auto;
    }
    &__slides {
      display: none;
    }
    &__circle {
      width: 680px;
      height: 760px;
      right: 50%;
      transform: translate(69%, -35%);
    }
    &__small-circle-bg{
      bottom: 35%;
      width: 65%;
    }
  }
}

.dot {
  cursor: pointer;
  margin-right: 3px;
  transition: all 0.25s ease-out;
  padding: 7px;
  position: relative;
  z-index: 10;
  &::after {
    border-radius: 50%;
    content: "";
    background-color: #d9d9d960;
    // opacity: 0.30000001192092896;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:last-of-type {
    margin-right: 0;
  }
  &.active {
    &::after {
      background-color: #d9d9d9;
      transition: all 0.25s ease-out;
    }
  }
}
