@import "../../../scss/global";

.forms {
  &__heading{
    color: $text-color;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 90px;
    margin-bottom: 12px;
  }
  &__subheading{
    color: $text-color;
    font-size: 1.25rem;
    line-height: 180%;
    margin-bottom: 40px;
  }
  &__container {
    background: $secondary-color;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    border-radius: 0 30px 30px 0;
    padding-left: 15%;
  }
}

.form-switcher {
  &__container {
    position: static;
    display: flex;
    column-gap: 10px;
  }

  &__btn {
    border: 1px solid mix(black, white, 50);
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 25px;
    min-width: 120px;
    border-radius: 15px;
    background: transparent;
    color: mix(black, white, 50);
    transition: all 0.15s ease-in-out;

    &.active {
      color: black;
      border-color: black;
      transition: all 0.25s ease-in-out;
    }
  }
}
