@import "../../scss/global.scss";

.login-form {
  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-width: 570px;
    width: 100%;
    label {
      color: #124359;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 180%;
      margin-bottom: 8px;
    }
    input:not([type="submit"]) {
      width: 100%;
      border-radius: 15px;
      background: transparent;
      border: 1px solid #d9d9d9;
      padding: 10px 20px;
      font-size: 1.25rem;
      color: #124359;
      line-height: 180%;

      &::placeholder {
        font-size: 1.25rem;
        color: #124359;
        line-height: 180%;
      }

      &.no-mb {
        margin-bottom: 5px;
      }

      &.invalid {
        border: 1px solid #ea4335;
      }
      &:focus.invalid {
        border: 1px solid #ea4335;
      }
      &:focus-visible.invalid {
        border: 1px solid #ea4335;
        // outline: none;
        outline: #ea4335 auto 1px;
      }
    }
    input[type="submit"] {
      margin-top: 30px;
      width: 100%;
    }
  }

  &__error-msg {
    position: absolute;
    bottom: -12px;
    left: 0;
    color: #ea4335;
    font-family: "Switzer", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    margin-bottom: 10px;
  }
  &__input-container {
    position: relative;
    padding-bottom: 24px;
    &:last-of-type {
      padding-bottom: 35px;
    }
    &:last-of-type {
      & .login-form__error-msg {
        bottom: 4px;
      }
    }
  }
  @include media("xxxl") {
    &__container {
      margin-top: 50px;
      & label {
        font-size: 1.1rem;
        line-height: 150%;
      }
      input:not([type="submit"]) {
        font-size: 1.1rem;
        line-height: 150%;
      }
      input[type="submit"] {
        margin-top: 40px;
      }
    }
    &__input-container {
      padding-bottom: 18px;
    }
  }
  @media only screen and (min-width: 1401px) and (max-width: 1550px) {
    &__input-container {
      padding-bottom: 26px;
    }
    &__container {
      margin-top: 25px;

      input[type="submit"] {
        margin-top: 30px;
      }
    }
  }
  @include media("xxl") {
    &__container {
      margin-top: 25px;
      input[type="submit"] {
        margin-top: 25px;
      }
    }
    &__input-container {
      &:last-of-type {
        padding-bottom: 25px;
      }
    }
  }
  @media only screen and (min-width: 1201px) and (max-width: 1325px) {
    &__container {
      margin-top: 15px;
      input[type="submit"] {
        margin-top: 15px;
      }
    }
    &__input-container {
      &:last-of-type {
        padding-bottom: 15px;
      }
    }
  }
  @include media("xl") {
    &__container {
      margin-top: 20px;
      input[type="submit"] {
        margin-top: 20px;
      }
    }
    &__input-container {
      &:last-of-type {
        padding-bottom: 20px;
      }
    }
  }
  @include media("lg") {
    &__container {
      max-width: none;
      max-height: 800px;
      transition: max-height .35s ease-out;  
      &.mobile-collapsed {
        height: 60%;
        max-height: 0;
        overflow: hidden;
      }
    }
  }
}
